button{
    float: right;
}
.container{
    margin-top: 70px;
    border-style: groove;
    border-color: rgba(128, 128, 128, 0.151);
    border-width: 5px;
    background-color: white;
    margin-bottom: 70px; 
    
}
.card{
    background-color: black;
    height: 1500px;
}
.card2{
    background-color: white;
    margin-top: 60px;
    margin-right: 300px;
    margin-left: 300px;
}
.header{
    background-color: pink;
    font: red;
}